/***************/
/* MEDIA QUERY */
/***************/

@media (max-width : 640px) {

    img {
        display: none;
    }

}


/**********/
/* STYLE  */
/**********/


html {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}

button {
    background-color: rgb(121, 209, 209);
    border: 2px solid blue;
    padding: 7px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a_inscription {
    color: black;
    padding: 7px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
}
.menu {
    text-align: center;
    background-color: rgb(69, 194, 194);
    margin-right: 20px;
}
.menu ul {
    display: inline-flex;
    list-style-type:none;
}

footer {
    position: fixed;
    bottom:0;
    width:100%;
    padding-top:20px;
    height:30px;
    margin-top: 60px;
    text-align: center;
    background-color: rgb(69, 194, 194);
}

footer a {
    margin-right: 20px ;
}

form {
    margin: 20px auto;
    width: 70%;
    box-shadow: 5px 10px 20px black;
    border-radius: 4px;
}

label {
    display: inline-block;
    font-size: 18px;
    width: 110px;
    padding-right: 10px;
    margin-top: 10px;
}


form a {
    height: 20px;
    background-color: rgb(121, 209, 209);
    border: 2px solid blue;
    border-radius: 3px;
}

.sousmenu {
    display: none;
    position: absolute;
}

.menu:hover {
    display: block;
}

.error_msg {
    font-size: 15px;
    color: red;
}

.produits {
    border:1px solid black;
    border-radius: 4px;
    margin: 1rem;

}

.produits:hover {
    box-shadow: 5px 5px 10px black;
    background-color: rgba(187, 187, 187, 0.103);
}

img {
    height: 10rem;
    width: auto;
}

span {
    color: blue;
}



.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
